.gray {
  fill: #eee;
}

.black {
  fill: #000;
}

.isDoneCheck {
  width: 28px;
  height: 28px;
}

.star {
  fill: #ffd11a;
  width: 28px;
  height: 28px;
}

.tagplus {
  /* position: absolute; */
  z-index: 2;
  /* right: 0;
  top: 0; */
}


.tagplus {
  cursor: pointer;
}

.tagminus {
  /* position: absolute; */
  z-index: 2;
  /* right: 0;
  top: 0; */
}

.tagminus {
  cursor: pointer;
}